body{
    font-family: "New Times", sans-serif;
    margin: 0 15%;
    }
    
    .container {
    border: 3px solid black;
    padding: 10px 10px;
    margin: 10px auto;
    }
    .container-title {
    text-shadow: 5px 5px 4px #000000;
    } 
    
    .color-container {
    width: 100%;
    }
    
    .color-panel {
    display: inline-block;
    width: 30%;
    text-align: center;
    }
    
    .splendor-purple {
    background-color: #ae91fb;
    }
    
     .mainly-red {
     background-color: #ba2e2e;
     color: white;  
     }
    
     .shaded-blue {
       background-color: #2e7eba;
     }
    
     .yellow {
       background-color: #e4f209;
     }
     
     .black {
      background-color: black;
      color: white;
     }
    
     .orange {
      background-color: #f28a09;
     }
     .lato {
       font-family: lato;
     }
     .zen-dots {
       font-family: "zen dots";
     }
     .railway {
       font-family: railway;
     }
    
     .font-panel {
      width: 50%;
      display: inline-block;
     }
    
    .font-family {
      font-weight: bold;
     }
    
     .font-family:first-letter {
       font-size: 200%; 
     }
    
     .regular {
       font-style: normal;
       font-weight: 200;
     }
    
     .italic {
       font-style: italic;
     }
    
     .bold {
       font-weight: 900;
     }
     
     .css {
       font-family: Arial;
       color: purple;
       font-weight: 500;
     }
    
    .css1 {
    border: 5px dotted black;
    margin: 10px auto;
    padding: 10px 10px;
     }
    
     .css2 {
    display: inline-block;
    width: 100%;
    text-align: center;
     }